<h1>Editing pray petition</h1>

<%= render "form", pray_petition: @pray_petition %>

<br>

<div>
  <%= link_to "Show this pray petition", @pray_petition %> |
  <%= link_to "Back to pray petitions", pray_petitions_path %>
</div>
