<p style="color: green"><%= notice %></p>

<h1>Pray petitions</h1>

<div id="pray_petitions">
  <% @pray_petitions.each do |pray_petition| %>
    <%= render pray_petition %>
    <p>
      <%= link_to "Show this pray petition", pray_petition %>
    </p>
  <% end %>
</div>

<%= link_to "New pray petition", new_pray_petition_path %>
