<h1 style="text-align: center;">Dejanos tu peticion de oraci&oacute;n</h1>

<%= render "form", pray_petition: @pray_petition %>

<p class="footer-heart">
  <sub>Asociacion Cristiana Manantial de Vida, Guapiles <g-emoji class="g-emoji" alias="heart" fallback-src="https://github.githubassets.com/images/icons/emoji/unicode/2764.png">
  <img class="emoji" alt="heart" height="20" width="20" src="https://github.githubassets.com/images/icons/emoji/unicode/2764.png"></g-emoji></sub>
  <br>
  <sub>Hector G.Beita - ACMV</sub>
</p>  
