<% if current_user.present? %>
  <div class="row">
    <div class="col-3">
      <%= link_to "Lista de peticiones", pray_petitions_path, class: "btn btn-link" %>
    </div>
  </div>
<% end %>
<div class="row">
  <h4>Gracias por enviar tu petición. <br>Estaremos orando por ti.</h4>
  <div>
   <p style="font-size: 1em;">
    <i>
    Por nada estén afanosos; más bien, presenten sus peticiones delante de Dios en toda oración y ruego,<br>
    con acción de gracias.
    <br> Y la paz de Dios, que sobrepasa todo entendimiento, guardará sus corazones y sus mentes en Cristo Jesús
   </i>
   <br>
   <sub>Filipenses 4:6-7</sub>
   </p>
  </div>
</div>
<%= link_to "Enviar otra petición", new_pray_petition_path, class: "btn btn-primary" %>
